<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>画像メニューの練習</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
  </head>
  <body>

    <div id="wrapper">

        <div id="header">
          <div id="logo">
            <p>2017年度秋学期 情報フルエンシー</p>
          </div>
          <div id="menu1">
            <ul>
              <li><a href="page0.html">about me</a></li>
              <li><a href="page1.html">　skills</a></li>
              <li><a href="page2.html">mind</a></li>
              <li><a href="page3.html">mind</a></li>
              <li><a href="page4.html">activity</a></li>
            </ul>
          </div>

          <div id="screen">
              <img src="../assets/images/profile.png">
          </div>
        </div>

        <div id="content1">

          <h1> インターン実績</h1>
          <p>
            <br>
            2017年 ２月から株式会社Lでインターン、同７月にクビ。<br>
            2017年 ４月からIでインターン、2018年３月に終了予定。<br>
               Unityでクロスワードのアプリを改修してリリース。<br>
               漫画アプリのランキングAPIの作成<br>
               同アプリのアプデ（チュートリアル、課金処理のバグ修正など）<br>
               求人検索アプリのアプデ (DBの移行、firebase messagingの導入、検索履歴機能追加など)<br>
               同アプリのAPIを作成(go言語 ユーザー登録など)<br>
            2017年 １０月から株式会Nでインターン中<br>
               画像編集エディターの開発<br>
               料理アプリのUIの実装<br>
          </p>


        </div>

        <div id="content2">
          <article class="">

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>THE WORK</h3>
              <p>愛犬ちゃん。趣味はこの子の散歩。
              ピアノと読書と料理も趣味にしたい。
              インドア全開だけど、ほんとは運動が好きで場所と友達がいれば
              フットサルとかテニスとかバトミントンとかしたい。あと勢いでヒッチハイクしたことがある。
            </p>
            </section>

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>THE WORK</h3>
              <p>The healing journey is a universal human experience and a life-long process. At Seven Senses we are committed to making that process meaningful and empowering for all</p>
            </section>

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>THE WORK</h3>
              <p>The healing journey is a universal human experience and a life-long process. At Seven Senses we are committed to making that process meaningful and empowering for all</p>
            </section>


          </article>

        </div>

        <div id="footer">
          <p>qiita: <br>
          <a href="https://github.com/churabou">github</a></p>

        </div>

    </div>
    <script type="text/javascript" src="../assets/javascript/index.js"></script>
  </body>
</html>
