<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>画像メニューの練習</title>
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
  </head>
  <body>

    <div id="wrapper">

        <div id="header">
          <div id="logo">
            <p>churabou</p>
          </div>
          <div id="menu1">
            <ul>
              <li><a href="page0.html">about me</a></li>
              <li><a href="page1.html">　skills</a></li>
              <li><a href="page2.html">mind</a></li>
              <li><a href="page3.html">mind</a></li>
              <li><a href="page4.html">activity</a></li>
            </ul>
          </div>

          <div id="screen">
              <img src="../assets/images/profile.png">
          </div>
        </div>

        <div id="content1">

          <h1> インターン実績</h1>
          <p>
            <br>
            2017年 ２月から株式会社Lでインターン？同７月に終了。<br>
            2017年 ４月からIでインターン、2018年３月に終了予定。<br>
               Unityでクロスワードのアプリを改修してリリース。<br>
               漫画アプリのランキングAPIの作成<br>
               同アプリのアプデ（チュートリアル、課金処理のバグ修正など）<br>
               求人検索アプリのアプデ (DBの移行、firebase messagingの導入、検索履歴機能追加など)<br>
               同アプリのAPIを作成(go言語 ユーザー登録など)<br>
            2017年 １０月から株式会Nでインターン中<br>
               画像編集エディターの開発<br>
               料理アプリのUIの実装<br>


               cookpad 2018 1Day インターン参加<br>
               CyberAgent/git-push-hackathonに参加、他学生エンジニアのレベルの高さに驚く。<br>
               Life-is-Tech! のメンターにも応募して見た。<br>
          </p>


        </div>

        <div id="content2">
          <article class="">
            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>PROGRAMMING</h3>
              <p>大学1年の夏にmac book airを購入したのをきっかけにプログラミングを始める。
              iOS/Android や railsなどWEB系、 画像解析、ブロックチェーンなど興味のある分野は広いですが、現在はiOSエンジニアとしての技術力を高めたいと思っている。</p>
            </section>

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>FEATURE</h3>
              <p>プログラムを書くのは楽しい、他にやりたいこともわからないのでエンジニアになりたいと思っている。レベルの高い環境で自信を持って仕事をするのが理想。将来的にはフリーランスで独立したり自分のサービスを展開したりしたい。ただ現実は甘くない。</p>
            </section>

            <section>
              <img src="../assets/images/chura.png" height="100px">
              <h3>TROUBLE</h3>
              <p>周囲にエンジニアが少ない。
                分野が定まらない。
                何を勉強したらいいのかわからないし
                どうしたら技術力を高められるかわからない。
                とりあえず現場のエンジニアに突撃する。
            </p>
            </section>


          </article>

        </div>

        <div id="footer">
          <p>qiita: <br>
          <a href="https://github.com/churabou">github</a></p>

        </div>

    </div>
    <script type="text/javascript" src="../assets/javascript/index.js"></script>
  </body>
</html>
